body {
    background-color: #e1f9ff;
    display: flex;
    justify-content: center;

}

html {
    scroll-behavior: smooth;
  }
  
#main-container {
    width: 1024px;
    height: 4500px;
    border: solid 1px black;

}  

#three-top-boxes {
    width: 1024px;
    height: 400px;

}
#main-logoandname {
    width: 750px;
    height: 640px;
    display: block;
    margin: auto;
    position: relative;
    bottom: 350px;
}
#first-navigation {
    height: 350px;
    width: 300px;
    margin-top: -650px;
    margin-left: 10px;
    position: relative;
    z-index: 10;
}
#experience-button {
    height: 90px;
    width: 350px;
}
#school-button {
    height: 90px;
    width: 350px;
    
}
#sports-button {
    height: 90px;
    width: 350px;
}
#experience-top-layer-id {
    height: 90px;
    width: 350px;
    margin-left: 330px;
    margin-top: 50px;
    position: relative;
    z-index: 10;
}


#home-button {
    height: 10px;
    width: 80px;
    margin-top: 30px;
    margin-left: 10px;
}
#school-button-LEVEL-experience {
    height: 10px;
    width: 350px;
    margin-left: 665px;
    margin-top: -105px;
}
#sports-button-LEVEL-experience {
    width: 260px;
    margin-left: 758px;
    margin-top: 50px;
}
@font-face {
    font-family: 'arial_blackregular';
    src: url('arial_black-webfont.woff2') format('woff2'),
         url('arial_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.hexagon {
    width: 1024px;
    aspect-ratio: 0.866; /* Correct ratio for a regular hexagon */
    background: #bbeaff;
    /* Coordinates for the 6 points of the hexagon */
    clip-path: polygon(
    425px 2px, 
    600px 0px, 
    1024px 260px, 
    1024px 2000px, 
    0px 2000px, 
    0px 265px
    );
    margin-top: -158px;
    position: relative;
  }
#first-ptag {
    position: absolute;
    top: 100px;
    left: 520px;
    transform: translate(-50%, -50%);
    z-index: 100; 
    font-size: 40px
    
}
